html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  font-family: arial, sans-serif;
}

thead {
  background: #015499;

  color: #fffdf4;
}

tr {
  border-bottom: 1px solid #9fd8f3;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid #9fd8f350;
  padding: 2px 4px;
  text-align: left;
}

td {
  padding: 6px;
}

.table-container {
  overflow: scroll;
  position: "relative";
  height: 500px;
  max-height: 500px;
}

.container {
  height: 550px;
  max-height: 550px;
  background: #dceef6;
  margin-left: 50px;
  margin-right: 50px;
  max-width: fit-content;
}

.debounced-input {
  height: 2rem;
  border-radius: 5px;
  border: lightgray 1px solid;
  width: 15rem;
  padding-left: 5px;
  margin: 15px;
}

.even {
  background: #b9e1f3;
}

.odd {
}
